# Dependencies
node_modules/

# Builds
.next/
dist/
out/

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.DS_Store

# Tailwind build cache
.postcssrc
*.log
